@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
}

body {
  @apply text-white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-orange-500 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-600;
}